---
title: Le Wagon - Middleman
---

<div id="home">
  <div class="home-content">


    <div class="banner night">
      <div class="banner-content">
        <p>
        で不動産の購入をご検討の方へ
        </p>
        <h1>
        アプリを使った新しい不動産管理のご案内
        </h1>

        アプリを使った新しい不動産管理のご案内のアプリならご利用のメリットオーナー様の声は、アプリと不動産賃貸管理を組み合わせたサービスです不動産管理でこんな悩みありませんか ?知りたい情報は、全てアプリの中に自宅でも外出中でも、あなたの不動産をいつでも・どこでも管理できます。困った時には担当にチャットを、書類をお探しの際はドキュメントボックスを。不動産投資に関する事がこのアプリ一つで完結します。

        <%= image_tag "logo.png", width: "200", id:"phone1"%>

      </div>

    </div>
    <div class="banner day">
      <div class="banner-content">
      不動産管理でこんな悩みありませんか ?
      </div>

    </div>


    <p class="about">
      <%= link_to "More about this template", "about.html" %>
    </p>

  </div>
</div>
